$even-background: #ffb8b3;
$odd-background: #b3caff;

body {
	margin: 40px;
}

.three-layout {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-gap: 10px;
	background-color: #fff;
	color: #444;
}

.list {
	background-color: #AAA;
	border-radius: 5px;
	padding: 10px;
}

.list-header {
	text-align: center;
}

.list-item {
	background-color: $even-background;
	color: #000;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
	
	&.list-item-odd {
		background-color: $odd-background;
	}
}

.center {
	text-align: center;
}

.btn {
	background-color: #fff;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
}
